# Arquivos específicos de configuração local (exemplo: arquivos de ambiente)
.env

# Arquivos de compilação, logs e caches
/target/
*.class
*.log

# Arquivos de dependência gerados
/lib/
/bin/
/*.jar

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
deploy_heroku.txt

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.idea/
.vscode/

# Outros arquivos específicos do ambiente de desenvolvimento
.DS_Store
